/* Typography Styles */
$inter: 'Inter', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$open-sans: 'Open Sans', sans-serif;

.inter{
    font-family: $inter;
}
.montserrat{
    font-family: $montserrat;
}
.open-sans{
    font-family: $open-sans;
}